<!DOCTYPE html>
<html lang="en">


<!-- appointments23:19-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/internallcss/assets/img/favicon.ico">
    <title>View Appointments</title>
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        {{>header}}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Appointments</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="/addAppointment" class="btn btn btn-primary btn-rounded float-right"><i
                                class="fa fa-plus"></i> Add Appointment</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th>Appt ID</th>
                                        <th>Appt Date</th>
                                        <th>Appt Fee</th>
                                        <th>Patient Name</th>
                                        <th>Doctor Name</th>
                                        <th>Department</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each appointment}}
                                    <tr>
                                        <td>{{Appointment_id}}</td>
                                        <td>{{date}}</td>
                                        <td>{{fee}}</td>
                                        <td>{{Patient_name}}</td>
                                        <td>{{Doctor_name}}</td>
                                        <td>{{Dept_name}}</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <form action="/api/v1/appointments/{{Appointment_id}}" method="post"><button
                                                        class="dropdown-item"><i class="fa fa-pencil m-r-5"></i>
                                                        Edit</button></form>
                                                <form action="/api/v1/appointments/delete/{{Appointment_id}}" method="post">
                                                    <button class="dropdown-item"><i class="fa fa-pencil m-r-5"></i>
                                                        Delete</button></form>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/internallcss/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/internallcss/assets/js/popper.min.js"></script>
    <script src="/internallcss/assets/js/bootstrap.min.js"></script>
    <script src="/internallcss/assets/js/jquery.slimscroll.js"></script>
    <script src="/internallcss/assets/js/select2.min.js"></script>
    <script src="/internallcss/assets/js/app.js"></script>

</body>


<!-- appointments23:20-->

</html>